.navbar {
  background-color: rgba(10, 10, 10, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 255, 255, 0.1);

  padding: 1rem 2rem;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.navbar-logo:hover {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

.glow {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  isolation: isolate;
  will-change: backdrop-filter;
}

.navbar-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
}

.navbar-links a:hover {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff;
}

.navbar-links a.active,
.navbar-links a:focus {
  color: #00ffff;
  text-shadow: 0 0 8px #00ffff;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  background: #00ffff;
  transition: width 0.3s ease;
}

.navbar-links a:hover::after {
  width: 100%;
}

/* Hamburger */
.burger {
  display: none;
}

/* ---------------------- */
/* Responsive for Mobile */
/* ---------------------- */
@media (max-width: 768px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }

  .bar {
    height: 3px;
    width: 28px;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.4s;
  }

  .navbar-links {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 255, 255, 0.1);
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 1.5rem;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1100;
    pointer-events: none;
  }

  .navbar-links.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    display: flex;
  }

  .navbar-links a {
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0),
      0 0 60px rgb(0, 0, 0);
  }

  .burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 6.5px);
  }

  .burger.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(100%);
  }

  .burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7.5px);
  }
}
